*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	}
	li{
		list-style: none;
	}
body {
	font-family: 'Oswald', sans-serif;
}
header{
	width: 100%;
	background: #000;
	display: flex;
}
.header__logo{
	text-transform: uppercase;
	color: #ff8b00;
	font-weight: 500;
	font-size: 24px;
	cursor: pointer;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 51px;
}
nav{
	margin-top: 12px;
	margin-left: 600px;
	margin-bottom: 12px;
}
.topnav a{
	font-size: 18px;
  	color: #ff8b00;
  	text-align: center;
  	padding: 12px 44px;
  	font-weight: bold;

}
.topnav a:hover{
	border-bottom: 1px solid #ff8b00;
}
.topnav .icon{
	display: none;
}
main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main_welcome {
	background: #000; 
	text-align: right;
	padding: 170px 160px 320px;
	color: #fff;
}
main .welcome {
	color: #ff8b00;
}
main .palm {
	color: #ff8b00;
}
 main .about {
 	display: flex;
 	padding: 26px 26px;
 	font-size: 32px;
 	text-align: right;
 }
main .right {
	margin-left: 100px;
	padding: 175px 160px;

}
main.left {
	padding-left:  51px;
}
main .about2 {
	background: #000; 
	display: flex;
	padding: 170px 160px 170px;
}
main .left2 {
	color: #fff;
	text-align: left;
	margin-left: 51px;
	font-size: 20px;
	padding: 26px 26px;
}

 main .about3 {
 	display: flex;
 	padding: 26px 26px;
 	font-size: 32px;
 	text-align: right;
 }
main .right3 {
	margin-left: 100px;
	padding: 175px 160px;
	text-align: right;

}
main .palm2 {
	color: #3399cc;
}
main.left3 {
	padding-left:  51px;



@media screen and (max-width: 1010px) {
	.topnav a{
		display none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #ff8b00;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height:340px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: 50px;
		right: -200px;
	}
}


